<h1>Here's The Plan.</h1>
<div id="description">
  <p>You're probably here because you can't figure out what plans to make tonight.
     After minutes, hours, or days of indecision, you still do not know what
     restaurant to eat at or what activity you want to do.</p>

  <p>This is what we are going to do. You are going to type in the first word that
     pops into your head that remotely is close to what you might want to do,
     provide your current location, submit, and find three simple options for
     you. We are going to decide what you are going to do, for you.</p>

  <p>So. Here's the plan:</p>
</div>

<p id="notice"><%= notice %></p>

<%= render 'form', search: @search %>
<br/>
<br/>
<br/>
<br/>
