<!DOCTYPE html>
<html>
  <head>
    <title>HereIsThePlan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <footer>
      <h3>Here's The Plan</h3>
        <p>Webmaster: Alec Lam <br/>
        <a href="mailto:AlecHunterLam@gmail.com">Email: AlecHunterLam@gmail.com</a><br/>
        Carnegie Mellon University<br/>
        Capital One 2017 Summit</p>
    </footer>
  </body>
</html>
